body {
  background: pink;
  text-align: center;
  font-family: Arial;
}

.slideshow img {
  width: 90%;
  max-width: 350px;
  border-radius: 20px;
  margin-top: 20px;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  background: red;
  color: white;
  border: none;
  border-radius: 10px;
}